@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Lemon/Milk", "Lemon/Milk light", sans-serif;
}

/*Arrow of carousel*/
.react-multiple-carousel__arrow.react-multiple-carousel__arrow--right {
  z-index: 0;
}

.slick-active button {
  z-index: 0;
}
